[submodule "extern/libman"]
	path = extern/libman
	url = https://github.com/witchcraft2001/sprinter-libman.git
[submodule "extern/core"]
	path = extern/core
	url = https://github.com/witchcraft2001/sprinter_unet_libs_core.git
